* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* body {margin:0;font-family: 'Times New Roman', Times, serif} */


.wrapper {
  display: grid;
  margin: auto;
  width: 100%;
  height: 100vh;
  gap: 3px;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "hd hd   hd   hd   hd   hd   hd   hd  "
    "sd main main main main main main main "
    "ft ft   ft   ft   ft   ft   ft   ft   ";
  overflow: hidden;
}

.header {
  grid-area: hd;
  position: relative;
  display: grid;
  grid-template-columns: 60px auto 30%;
  background-color: #6ac76a;
  max-height: 50px;
}


.logo {
  overflow: hidden;
  display: flex;
  position: relative;
}

.logo img {
  width: auto;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.navigation {
  width: 100%;
  z-index: 25;
}

.footer {
  background-color: white;
}

#search-btn:hover,
#close-btn:hover,
#btn-category:hover,
#btn-search:hover {
  background-color: #4CAF50;
  color: #c4f7a7;
}

#search-btn:active,
#close-btn:active,
#btn-category:active,
#btn-search:active {
  background-color: #39853b;
  color: #c4f7a7;
}

.footer {
  grid-area: ft;
  display: flex;
  position: relative;
  background-color: #6ac76a;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  width: 100%;
  z-index: 3;
}

.search {
  display: flex;
  position: relative;
  font-size: xx-large;
  max-width: 500px;
}

#search-input {
  padding: 2px;
  border: 2px solid #4CAF50;
  font-size: large;
}

.footer-grid-item {
  display: none;
}

.content {
  grid-area: main;
  position: relative;
  grid-template-rows: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.7rem;
  height: initial;
   overflow: hidden;
  overflow-y: scroll;
  min-height: initial;
  scroll-behavior: smooth;
  padding-left: 1%;
  padding-right: 1%;
}

.content:last-child {
  padding-bottom: 12%;
}

.sidebar {
  grid-area: sd;
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
  gap: 0;
  color: #3D550C;
  font-weight: bold;
  border: 1px solid #3D550C;
  overflow: auto;
}

.sidebar-dropdown {
  display: none;
}

.sidebar-item {
  display: grid;
  background-color: #6ac76a;
  font-size: clamp(0.75rem, -1.2rem + 4.27vw, 1rem);
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 4px 0;
  border: 1px solid #74f596;
}

.sidebar a {
  color: rgb(65, 65, 66);
  /* font-style: 1.75em; */
}

.sidebar-item:hover {
  color: #c4f7a7;
  background-color: #4CAF50;
  font-style: 2rem;
}

.footer .dropdown {
  display: none;
}

.category-goods {
  grid-column: 1 / -1;
  background-color: rgb(29, 89, 201);
  color: #8fff8f;
  justify-content: center;
  text-align: center;
  font-size: clamp(0.75rem, -1.2rem + 4.27vw, 1.2rem);
  height: max-content;
}

.grid-item {
  display: grid;
  position: relative;
  grid-template-rows: 55% auto;
  border-radius: 0.7rem;
  box-shadow: 0px 0px white, 0px 0px 5px #40ff40;
  max-height: 35vh;
  max-width: auto;
  min-height: 300px;
  overflow: hidden;
}

.item-img-wrapper {
  display: flexbox;
  position: relative;
  padding: auto;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  text-align: center;

}

.item-img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.text-goods-wrapper {
  display: grid;
  grid-template-rows: auto auto;
}

.text-goods-name {
  color: blue;
  font-size: clamp(1.1rem, 0.375rem + 1vw, 1.25rem);
  text-align: center;
  overflow-y: inherit;
}

.text-min-qty {
  color: #6ac76a;
  font-size: clamp(1rem, 0.5rem + 0.89vw, 1.25rem);
  text-align: center;
  line-height: 95%;
}

.text-goods-price {
  display: flex;
  /* font-family: "Times New Roman", Times, serif; */
  font-size: clamp(1.2rem, 0.1rem + 1.96vw, 1.8rem);
  font-weight: 800;
  color: #59981A;
  align-items: end;
  justify-content: end;
  margin-right: 3%;
}

.text-goods-previousPrice {
  position: absolute;
  bottom: 0;
  left: 5%;
  font-size: clamp(1rem, 0.1rem + 1.96vw, 1.2rem);
  color: red;
  text-decoration: line-through;
}
