.slide-single {
    width: 512px;
    height: auto;
    position: absolute;
    transition: all ease 1.3s;
    left: 0;
}


#slide-wrap {
      grid-column: 1 / -1;
    display: flex;
    /* width: 512px; */
    min-height: 340px;
    /* height: auto; */
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
}

#slide-wrap img {
    height: 100%;
    width: auto;   
    transition: all ease 1.3s;
}


@media screen and (max-width: 1024px) {

#slide-wrap {
    min-height: 275px;
}
#slide-wrap img {
     height: auto; 
    width: 100%;
}

}